
@import 'mixins/_all';

.height-100 { height: 100%; }
.height-50 { height: 50%; }
.height-vh-100 { height: 100vh; }
.height-vh-50 { height: 50vh; }
.height-auto { height: auto; }

.width-100 { width: 100%; }
.width-auto { width: auto; }

@include sm {
  .height-sm-100 { height: 100%; }
  .height-sm-50 { height: 50%; }
  .height-vh-sm-100 { height: 100vh; }
  .height-vh-sm-50 { height: 50vh; }
  .height-sm-auto { height: auto; }
  .width-sm-100 { width: 100%; }
  .width-sm-auto { width: auto; }
}

@include md {
  .height-md-100 { height: 100%; }
  .height-md-50 { height: 50%; }
  .height-vh-md-100 { height: 100vh; }
  .height-vh-md-50 { height: 50vh; }
  .height-md-auto { height: auto; }
  .width-md-100 { width: 100%; }
  .width-md-auto { width: auto; }
}

@include lg {
  .height-lg-100 { height: 100%; }
  .height-lg-50 { height: 50%; }
  .height-vh-lg-100 { height: 100vh; }
  .height-vh-lg-50 { height: 50vh; }
  .height-lg-auto { height: auto; }
  .width-lg-100 { width: 100%; }
  .width-lg-auto { width: auto; }
}

@include xl {
  .height-xl-100 { height: 100%; }
  .height-xl-50 { height: 50%; }
  .height-vh-xl-100 { height: 100vh; }
  .height-vh-xl-50 { height: 50vh; }
  .height-xl-auto { height: auto; }
  .width-xl-100 { width: 100%; }
  .width-xl-auto { width: auto; }
}
