
@import 'mixins';

.p-t-0 { padding-top: 0; }

@include sm {
  .p-t-sm-0 { padding-top: 0; }
}

@include md {
  .p-t-md-0 { padding-top: 0; }
}

@include lg {
  .p-t-lg-0 { padding-top: 0; }
}

@include xl {
  .p-t-xl-0 { padding-top: 0; }
}