
<div class="nav-bar">

  <p>{{currencyIdx$ | async}}</p>

  <div class="top-add" [ngClass]="{'top-add-hidden':isTopAddHidden}">
    <p>Знижка 20% на все!&nbsp;</p>
    <a href="#">Переглянути</a>
    <i class="fa fa-times" (click)="isTopAddHidden=!isTopAddHidden"></i>
  </div>

  <div class="nav-bar-mobile row justify-content-between d-lg-none no-gutters">
    <a href="#" class="nav-bar-logo-mobile col-auto">
      <ng-container *ngTemplateOutlet="mainLogo"></ng-container>
    </a>
    <div class="nav-bar-mobile-right col-auto row no-gutters justify-content-end align-items-center">
      <ng-container *ngTemplateOutlet="userMenu"></ng-container>
      <div class="hamburger" [ngClass]="{'hamburger-active':isHamburgerActive}"
        (click)="this.isHamburgerActive=!this.isHamburgerActive">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </div>

  <div class="mobile-menu-wrapper" [ngClass]="{'mobile-menu-hidden':!isHamburgerActive}">

    <div class="nav-bar-fullscreen row no-gutters justify-content-between align-items-center px-lg-4">
      <div class="nav-bar-add d-lg-none col-12 order-first">
        <span>Безкоштовна доставка на сумму понад 2 тисяч гривень, </span>
        <a href="#">дізнатись деталі
          <i class="fa fa-external-link"></i>
        </a>
      </div>
      <div class="nav-bar-social col-12 col-lg-4 pl-3 pl-lg-5 order-2 order-lg-first">
        <div>
          <a href="#" class="fa fa-facebook"></a>
        </div>
        <div>
          <a href="#" class="fa fa-youtube"></a>
        </div>
        <div>
          <a href="#" class="fa fa-twitter"></a>
        </div>
        <div>
          <a href="#" class="fa fa-vk"></a>
        </div>
      </div>
      <a href="#" class="logo-fullscreen col-2 justify-content-center row d-none d-lg-flex">
        <ng-container *ngTemplateOutlet="mainLogo"></ng-container>
      </a>
      <div class="nav-bar-fullscreen-right col-12 col-lg-5 order-first order-lg-2">
        <div class="row no-gutters justify-content-start justify-content-lg-end">
          <p class="nav-bar-email col-auto align-items-center">
            plito4ka@gmail.com
          </p>
          <div class="nav-bar-currency col-1">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedCurrency">
                <mat-option *ngFor="let currency of currencyArr" [value]="currency.uiValue">
                  {{currency.uiValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="cart-and-user-full d-none d-lg-flex col-auto row no-gutters justify-content-center align-items-center">
            <ng-container *ngTemplateOutlet="userMenu"></ng-container>
          </div>
        </div>
      </div>
    </div>
  
    <div class="fullscreen-main-menu row no-gutters justify-content-center">
      <ng-container *ngTemplateOutlet="mainMenu"></ng-container>
    </div>

    <div class="shrinked-main-menu row no-gutters justify-content-between"
      [ngClass]="{'shrinked-menu-visible':(isShrinkedService.check() | async) && !isMobileMode}">
      <ng-container *ngTemplateOutlet="mainMenu"></ng-container>
    </div>

  </div>

</div>

<ng-template #userMenu>
  <a href="#" class="align-self-center">
    <img src="../../assets/img/nav-bar-icon-user.png" alt="User profile">
  </a>
  <span class="nav-bar-icons-divider"></span>
  <a class="nav-bar-cart-icon align-self-center" (click)="openDialog()">
    <img src="../../assets/img/nav-bar-icon-bag.png" alt="Shopping cart">
    <span>0</span>
  </a>
</ng-template>

<ng-template #mainLogo>
  <img src="../../assets/img/logo.jpg" alt="Main logo">
</ng-template>

<ng-template #mainMenu>
  <div class="logo-shrinked d-none d-lg-flex col-2 justify-content-center">
    <a href="#">
      <ng-container *ngTemplateOutlet="mainLogo"></ng-container>
    </a>
  </div>
  <a href="#" class="menu-link col-12 col-lg-2 align-items-center">
    <span>Головна сторінка</span>
  </a>
  <a href="#" class="menu-link col-12 col-lg-2 align-items-center">
    <span>Акції</span>
  </a>
  <a href="#" class="menu-link col-12 col-lg-2 align-items-center">
    <span>Про нас</span>
  </a>
  <a href="#" class="menu-link col-12 col-lg-2 align-items-center">
    <span>Контакти</span>
  </a>
  <div class="cart-and-user-shrinked d-none d-lg-flex col-2 align-items-center justify-content-center">
    <div class="justify-content-center align-items-center">
      <ng-container *ngTemplateOutlet="userMenu"></ng-container>
    </div>
  </div>
</ng-template>
