
<section>

  <div class="row">

    <header class="block-header col-12">
      <h3>ACCOUNT INFO</h3>
      <a href="#">EDIT</a>
    </header>

    <div class="col-6">
      <h5>NAME</h5>
      <p>Huan Samoran4ez</p>
    </div>

    <div class="col-6">
      <h5>EMAIL</h5>
      <p>samoran4ez@gmail.com</p>
    </div>

    <div class="col-6">
      <h5>PHONE NUMBER</h5>
      <p>555-555-555</p>
    </div>

  </div>

</section>

<!-- <div class="row">

  <header class="col-12">
    <h3></h3>
    <a href=""></a>
  </header>

  <div class="col-6">
    <h5></h5>
    <p></p>
  </div>

</div> -->