
<section #parallax class="parallax">

  <header class="pos-fixed width-100 z-index-1">
    <app-header></app-header>
  </header>

  <div class="slogan" [ngClass]="{ 'slogan--visible': isSloganVisible$ | async, 'slogan--color-orange': !showVideoBg }">
    <h1>Some Big Title</h1>
    <h6>some long text smaller than the title</h6>
  </div>

  <div class="height-100">
    <div class="bg">
      <ng-container *ngIf="showVideoBg">
        <div class="play-overlay" [ngClass]="{ 'play-overlay--show': showPlayOverlay }">
          <div class='play-btn' (click)="onPlay()" [ngClass]="{ 'play-btn--visible': isSloganVisible$ | async }">
            <i class="play-btn__triangle fa fa-caret-right"></i>
          </div>
        </div>
        <video #video autoplay muted loop playsinline class="bg__video">
          <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
          <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
        </video>
      </ng-container>
      <ng-container *ngIf="!showVideoBg">
        <div class="bg__img"></div>
      </ng-container>
    </div>
  </div>

  <div class="block height-vh-100 z-index-2">
    <div class="collection" appDeferLoad (deferLoad)="showCollection = $event">
      <p class="collection__name" [ngClass]="{ 'collection__name--visible': showCollection }">Ocean Breeze</p>
      <p class="collection__slogan" [ngClass]="{ 'collection__slogan--visible': showCollection }">Елегантні візерунки та морські відтінки втілюють спокійну вишуканість</p>
      <a class="collection__btn" href="">Побачити колекцію</a>
    </div>
  </div>

  <div class="height-100 overflow-hidden">
    <div class="bg">
      <div class="bg__img"></div>
    </div>
  </div>

  <div class="block z-index-2">
    <div class="sale row no-gutters" appDeferLoad checkOnce="true" (deferLoad)="showCarousel = $event">
      <div class="position-relative col-2">
        <p class="banner"></p>
      </div>
      <div class="justify-content-end col-10">
        <app-carousel-small *ngIf=showCarousel></app-carousel-small>
      </div>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>

</section>

<app-scroll-down [elem]="parallax"></app-scroll-down>
