
@import 'mixins/_all';
@import 'colors';
@import 'z-index';

.parallax {
  position: fixed;
  width: 100%; height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  perspective-origin: 0 0;
}

.slogan {
  width: 100%;
  position: absolute; top: 150%;
  transform-origin: 0;
  transform: translateZ(-2px) scale(3);
  font-size: 60px;
  z-index: 1;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity .4s;
  @include m('visible') { opacity: 1; }
}

.bg {
  height: 100%;
  transform-origin: 0 0;
  transform: translateZ(-1px) scale(2);
  @include e('video') {
    min-width: 100%;
    min-height: 100%;
  }
  @include e('img') {
    width: 100%;
    height: 100%;
    background: url('assets/img/main-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.bg-2 {
  height: 100%;
  @include e('img') {
    width: 100%;
    height: 100%;
    background: url('assets/img/main-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.play-overlay {
  width: 100%; height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity .3s;
  background-color: $hover-black;
  z-index: 1;
  @include m('show') { opacity: 1; }
}

.play-btn {
  width: 75px; height: 75px;
  position: absolute; bottom: 20px; right: 20px;
  border: 1px solid $main-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-orange;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(230, 85, 64, .5);
  animation: pulse 1.5s infinite;
  cursor: pointer;
  &:hover { animation: none; }
  @include e('triangle') {
    font-size: 40px;
    transform: translateX(3px);
  }
}

@keyframes pulse {
  0% { transform: scale(.9); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba($main-orange, 0);
  }
  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 rgba($main-orange, 0);
  }
}

.cont {
  position: relative;
  // background: rgba(0, 0, 0, .8);
  color: #fff;
  background: -moz-linear-gradient(top,  rgba(170,170,170,0.05) 0%, rgba(128,128,128,0.8) 25%, rgba(85,85,85,0.9) 50%, rgba(43,43,43,1) 75%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(top,  rgba(170,170,170,0.05) 0%,rgba(128,128,128,0.8) 25%,rgba(85,85,85,0.9) 50%,rgba(43,43,43,1) 75%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom,  rgba(170,170,170,0.05) 0%,rgba(128,128,128,0.8) 25%,rgba(85,85,85,0.9) 50%,rgba(43,43,43,1) 75%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0daaaaaa', endColorstr='#000000',GradientType=0 );

  & * {
    max-width: 900px;
  }
}

/*****************************************/

.collection {
  position: relative;
  padding: 40px 0;
  border-top: 2px solid $main-orange;
}

.collection-cover {
  width: 100%;
  margin: 0 auto;
  display: block;
  @include breakpoint-up(lg) {
    width: 90%;
  }
}

.collection-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  @include e('name') {
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint-up(sm) {
      font-size: 35px;
    }
    @include breakpoint-up(md) {
      font-size: 50px;
      margin-bottom: 0;
    }
    @include breakpoint-up(lg) {
      font-size: 60px;
      margin-bottom: 0;
    }
  }
  @include e('ad') {
    display: none;
    margin: 30px 0;
    font-size: 18px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    @include breakpoint-up(md) {
      display: block;
    }
  }
  @include e('btn') {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border: 2px solid #fff;
    font-size: 10px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: .3s;
    @include breakpoint-up(md) {
      font-size: 15px;
    }
    &:hover {
      background-color: #000;
    }
  }
}

.sale {
  background-color: #fff;
  border-top: 2px solid $main-orange;
}

.sale-right {
  justify-content: flex-end;
}

.sale-left {
  position: relative;
  @include e('banner') {
    width: 100%; height: 100%;
    background-image: url('assets/img/sale.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
