
<app-scroll-down [elem]="parallax"></app-scroll-down>

<section #parallax class="parallax">

  <header class="pos-fixed width-100 z-index-3">
    <app-header></app-header>
  </header>

  <div class="slogan-parallax font-42 font-lg-60" [ngClass]="{ 'slogan-parallax--visible': !isCollectionVisible }">
    <h1>Some Big Title</h1>
    <h6>some long text smaller than the title</h6>
  </div>

  <section class="parallax__block applied-parallax height-100 overflow-hidden" [ngClass]="{ 'bg-placeholder': !isVideoBgVisible }">

    <div class="play-overlay" [ngClass]="{ 'play-overlay--visible': isPlayOverlayVisible }">
      <div class='play-btn' (click)="onPlay()" [ngClass]="{ 'play-btn--visible': isSloganVisible$ | async }">
        <i class="play-btn__triangle fa fa-caret-right"></i>
      </div>
    </div>

    <ng-container *ngIf="isVideoBgVisible">
      <video #video autoplay muted loop playsinline class="video">
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
      </video>
    </ng-container>

  </section>

  <section class="parallax__block applied-parallax height-100 border-y-orange">
    <div class="collection" appDeferLoad (deferLoad)="isCollectionVisible = $event">
      <p class="collection__name" [ngClass]="{ 'collection__name--visible': isCollectionVisible }">Ocean Breeze</p>
      <p class="collection__slogan" [ngClass]="{ 'collection__slogan--visible': isCollectionVisible }">Елегантні візерунки та морські відтінки втілюють спокійну вишуканість</p>
      <a class="collection__btn" href="">Побачити колекцію</a>
    </div>
  </section>

  <section
    class="parallax__block applied-parallax p-y-60 ad-section-bg flex-column"
    appDeferLoad checkOnce="true" (deferLoad)="isTitlesSectionVisible = $event">

      <div class="width-100 max-width-1200 row">
        <div *ngFor="let adData of AdSectionData | slice:0:3" class="col-4">
          <ng-container *ngTemplateOutlet="adSection; context: { data: adData }"></ng-container>
        </div>
      </div>

      <ul class="width-100 max-width-1200 p-y-40 p-md-60 p-y-lg-80 row">
        <li class="d-flex justify-content-center align-items-center flex-column col-3" *ngFor="let benefit of Benefits">
          <figure class="benefit p-10 p-y-lg-20 p-x-lg-30">
            <img class="benefit__image" [src]="benefit.imageSrc" [alt]="benefit.imageAlt">
            <figcaption>
              <h3 class="font-20 font-lg-24">{{ benefit.title }}</h3>
              <p class="m-t-5 m-t-lg-10 font-12 font-lg-14">{{ benefit.subtitle }}</p>
            </figcaption>
          </figure>
        </li>
      </ul>

      <div class="row width-100 max-width-992">
        <div *ngFor="let adData of AdSectionData | slice:3" class="col-6">
          <ng-container *ngTemplateOutlet="adSection; context: { data: adData }"></ng-container>
        </div>
      </div>

  </section>

  <section *ngIf="isTitlesSectionVisible" class="parallax__block border-y-orange sale-section-bg">
    <div class="width-100 max-width-1200 row">
      <div class="pos-relative col-2">
        <h4 class="banner font-18 font-lg-26 font-xl-40">Sale</h4>
      </div>
      <div class="col-10">
        <app-carousel-small></app-carousel-small>
      </div>
    </div>
  </section>

  <footer class="parallax__block width-100 p-t-60">
    <app-footer></app-footer>
  </footer>

</section>

<ng-template #adSection let-data="data">
  <figure class="ad-section" [matTooltip]="data.tooltipMsg" [matTooltipPosition]="data.tooltipPos">
    <h3 class="ad-section__title d-none d-lg-flex">{{ data.title }}</h3>
    <a class="width-100 height-100 b-shadow-1 d-block overflow-hidden" [routerLink]="[data.routerLink]">
      <img
        *ngIf="isTitlesSectionVisible"
        class="ad-section__image"
        [src]="data.imageSrc" [alt]="data.imageAlt">
    </a>
    <figcaption class="ad-section__caption font-16 font-md-20">{{ data.figCaption }}</figcaption>
  </figure>
</ng-template>
