
<app-scroll-down [elem]="parallax"></app-scroll-down>

<section #parallax class="parallax">

  <header class="pos-fixed width-100">
    <app-header></app-header>
  </header>

  <section class="parallax__block applied-parallax height-100" [ngClass]="{ 'bg-placeholder': !isVideoBgVisible }">
    <div class="play-overlay" [ngClass]="{ 'play-overlay--visible': isPlayOverlayVisible }">
      <div class='play-btn' (click)="onPlay()" [ngClass]="{ 'play-btn--visible': isSloganVisible$ | async }">
        <i class="play-btn__triangle fa fa-caret-right"></i>
      </div>
    </div>
    <ng-container *ngIf="isVideoBgVisible">
      <video #video autoplay muted loop playsinline class="video">
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
      </video>
    </ng-container>
    <div class="slogan" [ngClass]="{ 'slogan--visible': isSloganVisible$ | async }">
      <h1>Some Big Title</h1>
      <h6>some long text smaller than the title</h6>
    </div>
  </section>

  <section class="parallax__block applied-parallax height-100">
    <div class="collection" appDeferLoad (deferLoad)="isCollectionVisible = $event">
      <p class="collection__name" [ngClass]="{ 'collection__name--visible': isCollectionVisible }">Ocean Breeze</p>
      <p class="collection__slogan" [ngClass]="{ 'collection__slogan--visible': isCollectionVisible }">Елегантні візерунки та морські відтінки втілюють спокійну вишуканість</p>
      <a class="collection__btn" href="">Побачити колекцію</a>
    </div>
  </section>

  <section class="parallax__block applied-parallax height-100 bg2">
    <h1>SO FWUFFY AWWW</h1>
    <!-- <div class="bg">
      <div class="bg__img">
        <ul class="ad-features row" [ngClass]="{ 'ad-features--visible': true }">
          <li class="ad-features__item col-4" style="height: 200px; border: 1px solid red;"></li>
          <li class="ad-features__item col-4" style="height: 200px; border: 1px solid red;"></li>
          <li class="ad-features__item col-4" style="height: 200px; border: 1px solid red;"></li>
        </ul>
      </div>
    </div> -->
  </section>

  <section
    class="parallax__block row no-gutters align-items-stretch"
    appDeferLoad checkOnce="true" (deferLoad)="isCarouselVisible = $event">
      <div class="col-2">
        <p class="banner"></p>
      </div>
      <div class="col-10">
        <app-carousel-small *ngIf="isCarouselVisible"></app-carousel-small>
      </div>
  </section>

  <footer class="parallax__block">
    <app-footer></app-footer>
  </footer>

</section>
