
@import 'global-colors';

button {
  color: #fff;
  background-color: $button-grey;
  transition: background-color 0.3s;
  &:hover {
    background-color: $main-orange;
  }
}

.cart-items-container {
  max-height: 200px;
  overflow-y: auto;
}

.cart-item {
  img {
    flex: 0 0 80px;
    height: 80px;
    width: 80px;
  }
  div {
    flex: 1 0 40%;
  }
}
