
.slider-ctrl {
  width: 40px; height: 40px;
  font-size: 19px;
  position: absolute; top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover { color: $main-orange; }
  .fa-angle-left { transform: translateX(-1px); }
  .fa-angle-right { transform: translateX(1px); }
}
