
@import 'mixins';
@import 'z-index';
@import 'colors';

.test {
  height: 700px;
  width: 100%;
  background-color: bisque;
}

.sale {
  background-color: #fff;
  border-top: 2px solid $main-orange;
}

.sale-banner {
  width: 100%; height: 100%;
  background-image: url('assets/img/sale.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.sale-right {
  justify-content: flex-end;
}

.sale-left {
  position: relative;
}
