
@import 'mixins';
@import 'colors';

.reg {
  width: 100%;
  margin-bottom: 25px;
  @include center-flex;
  @include e('step') {
    padding: 0 15px;
    border: 0;
    border-right: 1px solid #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    cursor: pointer;
    @include m('last') {
      border-right: 0;
    }
    @include m('active') {
      font-weight: bold;
    }
    &:hover {
      color: $hover-black;
    }
  }
}

.checkbox-container {
  width: 100%;
  padding: 10px;
  margin-top: -5px;
  overflow: hidden;
  @include center-flex;
}

.footer-info {
  margin: 20px auto 0;
  font-size: 12px;
  text-align: center;
  @include e('btn') {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $hover-black;
    }
  }
}

.pass-chkbx {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  @include e('wrap') {
    width: 40%;
  }
}
