
@import 'mixins';
@import 'colors';

.reg {
  width: 100%;
  margin-bottom: 25px;
  @include center-flex;
  @include e('step') {
    padding: 0 15px;
    border: 0;
    border-right: 1px solid #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    cursor: pointer;
    @include m('last') {
      border-right: 0;
    }
    @include m('active') {
      font-weight: bold;
    }
    &:hover {
      color: $hover-black;
    }
  }
}

.checkbox-container {
  width: 100%;
  padding: 10px;
  margin-top: -5px;
  overflow: hidden;
  @include center-flex;
}

.footer-info {
  margin: 20px auto 0;
  font-size: 12px;
  text-align: center;
  @include e('btn') {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $hover-black;
    }
  }
}

.pass-chkbx {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  @include e('wrap') {
    width: 40%;
  }
}

// TODO move to global stylesheet

.info {
  width: 100%;
  margin: 0 0 15px 0;
  font-size: 12px;
  text-align: right;
  @include m('password') {
    margin: -15px 0 0;
    text-align: center;
  }
  @include e('link') {
    color: $grey-dim;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}

.ctrl-btn {
  width: 100%; height: 50px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  transition: all .3s;
  @include m('regular') {
    margin-top: 10px;
    padding: 0;
    color: $grey-dark;
    @include center-flex;
    &:hover {
      color: #000;
    }
  }
  @include m('submit') {
    color: #fff;
    background-color: $hover-black;
    @include center-flex;
    &:hover {
      background-color: #000;
    }
  }
}

.title { 
  width: 100%;
  margin: 20px 0;
  font-size: 14px;
  text-align: center;
  @include e('main') {
    letter-spacing: 2px;
    text-transform: uppercase;
    @include m('withborder') {
      padding: 10px 0;
      border-bottom: 1px solid $grey-dim;
    }
  }
  @include e('secondary') {
    padding: 20px 0;
    @include m('bold') {
      font-weight: bold;
    }
  }
}
