
@import 'colors';
@import 'mixins';

a {
  color: #000;
  text-decoration: none; 
}

button {
  color: #fff;
  background-color: $grey-6;
  transition: background-color 0.3s;
  &:hover {
    background-color: $main-orange;
  }
}

.logo { @include logo-img; }

.cart-items-container {
  max-height: 400px;
  margin: 20px 0;
  overflow-y: auto;
  border: 1px solid $grey-2;
}

.cart-item {
  border: 1px solid $grey-2;
  position: relative;
  div {
    flex: 1 0 40%;
  }
}

.cart-item-close {
  position: absolute;
  color: $grey-2;
  top: 5px;
  right: 5px;
  cursor: pointer;
  &:hover {
    color: $main-orange;
  }
}

.cart-item-image {
  flex: 0 0 80px;
  height: 80px;
  width: 80px;
  border-right: 1px solid $grey-2;
}

.cart-item-price {
  font-size: 12px;
}

.cart-item-name, .cart-items-total {
  font-weight: 500;
}

.cart-items-total {
  text-align: right;
}
