
@import 'mixins';
@import 'colors';

$custom-width: 400px;

.user-modal-container {
  width: $custom-width;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    width: 100%; height: 100%;
    position: absolute;
    opacity: .2;
    z-index: -1;
    background: url('assets/img/user-modal-bg.png'); // TODO compress image
  }
}

.logo {
  position: relative;
  width: 90px;
  @include e('img') {
    width: 100%;
  }
}

.close-btn {
  @include close-btn;
  top: -30px; right: -20px;
  font-size: 18px;
  color: $main-orange;
  &:before {
    width: 30px;
    height: 30px;
  }
}

.title {
  width: 100%;
  margin: 20px 0;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.input-container {
  width: 100%;
  margin: 0 auto;
}

.ctrl-btn {
  width: 100%; height: 50px;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  transition: all .3s;
  @include m('regular') {
    color: $grey-dark;
    &:hover {
      color: #000;
    }
  }
  @include m('submit') {
    color: #fff;
    background-color: rgba(0,0,0,.9);
    &:hover {
      background-color: #000;
    }
  }
}

.question {
  width: 100%;
  margin: 20px 0 10px;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.forgot {
  width: 100%;
  margin: -5px 0 15px;
  font-size: 12px;
  text-align: right;
  @include e('link') {
    color: $grey-dim;
    &:hover {
      color: #000;
    }
  }
}
