
<section class="user-modal-container">

  <i (click)="onCloseModal()" class="close-btn fa fa-times"></i>

  <header class="logo">
    <img src="./assets/img/logo.jpg" class="logo__img" alt="Logo">
  </header>

  <ng-container [ngSwitch]="currView$ | async">

    <form *ngSwitchDefault [formGroup]="signInForm">
      
      <header class="title">
        <h4 class="title__main">Увійти до акаунту</h4>
      </header>
      
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="login" email autocomplete="off"
            type="email" required placeholder="Введіть email">
          <mat-error align="end">
            <app-form-error [control]="signInForm.controls.login"></app-form-error>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'" formControlName="password"
            required placeholder="Введіть пароль" autocomplete="off">
          <button
            mat-icon-button matSuffix [attr.aria-label]="'Show password'" [attr.aria-pressed]="hidePassword"
            (click)="hidePassword = !hidePassword">
              <i *ngIf="!hidePassword" class="eye-password fa fa-eye"></i>
              <i *ngIf="hidePassword" class="eye-password fa fa-eye-slash"></i>
          </button>
          <mat-error align="end">
            <app-form-error [control]="signInForm.controls.password"></app-form-error>
          </mat-error>
        </mat-form-field>
      </div>

      <p class="info">
        <a (click)="onChangeCurrView(views.remindPassword, $event)" class="info__link">Не можете згадати пароль?</a>
      </p>
    
      <button
        mat-stroked-button
        [appBtnSpinner]="isLoading"
        appDelayClick (delayClick)="onSignIn()"
        class="ctrl-btn ctrl-btn--submit" type="submit"
      >ВХІД</button>
    
      <p class="question">ще немає акаунту?</p>
    
      <a mat-stroked-button (click)="onChangeCurrView(views.createAccount, $event)" class="ctrl-btn ctrl-btn--regular">СТВОРИТИ АКАУНТ</a>
    
    </form>
  
    <form *ngSwitchCase="views.remindPassword"
      [formGroup]="remindPasswordForm"
      (ngSubmit)="onRemindPassword($event)">

      <header class="title">
        <h4 class="title__main title__main--withborder">Не можете згадати пароль?</h4>
        <p class="title__secondary">Введіть свою електронну адресу, і ми надішлемо вам посилання для скидання пароля</p>
      </header>
    
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email" email
            type="email" required placeholder="Введіть email">
          <mat-error align="end">
            <app-form-error [control]="remindPasswordForm.controls.email"></app-form-error>
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-stroked-button type="submit" class="ctrl-btn ctrl-btn--submit">НАДІСЛАТИ ПАРОЛЬ</button>

      <a
        mat-button
        [appBtnSpinner]="isLoading"
        appDelayClick (delayClick)="onSignIn()"
        (click)="onChangeCurrView(views.default, $event)"
        class="ctrl-btn ctrl-btn--regular">До попередньої форми</a>

    </form>

    <div *ngSwitchCase="views.notExists">
      <header class="title">
        <h4 class="title__main title__main--withborder">Email не зареєстрований</h4>
        <p class="title__secondary">
          Не знайдено жодного email:
          <span class="bold-and-underline">{{ remindPasswordForm.value.email }}</span>
          Будь ласка, перевірте і спробуйте ще раз
        </p>
      </header>
      <a mat-stroked-button (click)="backToDefaultView(remindPasswordForm, $event)" class="ctrl-btn ctrl-btn--submit">ДЯКУЮ</a>
    </div>

    <div *ngSwitchCase="views.checkEmail">
      <header class="title">
        <h4 class="title__main title__main--withborder">Перевірте свій email</h4>
        <p class="title__secondary">
          Ми надіслали електронний лист на електронну скриньку
          <span class="bold-and-underline">{{ remindPasswordForm.value.email }}</span>
          з інструкціями щодо відновлення пароля
        </p>
      </header>
      <a mat-stroked-button (click)="backToDefaultView(remindPasswordForm, $event)" class="ctrl-btn ctrl-btn--submit">ДЯКУЮ</a>
    </div>

    <app-create-account *ngSwitchCase="views.createAccount"
      [createAccountForm]="createAccountForm"
      [views]="views"
      [currView]="currView$ | async"
      [isUserExists$]="isUserExists$"
      (createAccount)="onCreateAccount($event)"
      (changeCurrView)="onChangeCurrView($event)"
      (checkIfUserExists)="onCheckIfUserExists($event)"
      (goToDefault)="backToDefaultView(createAccountForm.controls.email, $event)"
    ></app-create-account>

    <div *ngSwitchCase="views.alreadyExists">
      <header class="title">
        <h4 class="title__main title__main--withborder">Існуючий email</h4>
        <p class="title__secondary">
          У нас уже зареєстрований такий email:
          <span class="bold-and-underline">{{ createAccountForm.value.email.email_1 }}</span>
          Спробуйте увійти з ним, або введіть інший email
        </p>
      </header>
      <a mat-stroked-button (click)="backToDefaultView(createAccountForm.controls.email, $event)" class="ctrl-btn ctrl-btn--submit">ДЯКУЮ</a>
    </div>
    
    <div *ngSwitchCase="views.afterCreate">
      <header class="title">
        <h4 class="title__main title__main--withborder">Майже готово</h4>
        <p class="title__secondary">
          Було надіслано електронний лист на адресу
          <span class="bold-and-underline">{{ registrationEmail }}</span>
          Будь ласка, перевірте email і перейдіть за посиланням у листі<br>
          для завершення регістрації
        </p>
      </header>
      <a mat-stroked-button (click)="backToDefaultView(createAccountForm.controls.email, $event)" class="ctrl-btn ctrl-btn--submit">ДЯКУЮ</a>
    </div>

    <div *ngSwitchCase="views.failLogin">
      <header class="title">
        <h4 class="title__main title__main--withborder">Некорректний логін або пароль</h4>
        <p class="title__secondary">Будь ласка, перевірте корректність введених даних</p>
      </header>
      <a mat-stroked-button (click)="onChangeCurrView(views.default)" class="ctrl-btn ctrl-btn--submit">ДЯКУЮ</a>
    </div>

    <div *ngSwitchCase="views.failRegister">
      <header class="title">
        <h4 class="title__main title__main--withborder">Помилка обробки даних</h4>
        <p class="title__secondary">Ми будемо вдячні, якщо ви зв'яжетесь з нами з приводу цієї помилки</p>
      </header>
      <a mat-stroked-button (click)="backToDefaultView(signInForm, $event)" class="ctrl-btn ctrl-btn--submit">ДЯКУЮ</a>
    </div>

  </ng-container>

</section>
