
<div class="user-modal-container">
  
  <i (click)="false" class="user-modal-close fa fa-times"></i>

  <header class="logo">
    <img src="./assets/img/logo.jpg" alt="Logo" class="logo__img">
  </header>
  
  <main class="row">
  
    <p class="title col-12">sign in</p>
    
    <div class="user-modal-input">
      <mat-form-field appearance="outline">
        <mat-label>Email*</mat-label>
        <input matInput placeholder="Введіть email">
      </mat-form-field>
    </div>

    <div class="user-modal-input">
      <mat-form-field appearance="outline">
        <mat-label>Password*</mat-label>
        <input matInput placeholder="Введіть пароль">
      </mat-form-field>
    </div>

    <p class="forgot col-12">Не можете згадати пароль?</p>
  
    <button class="wide-btn">ВХІД</button>
  
    <p class="question col-12">досі немає акаунту?</p>
  
    <button class="wide-btn wide-btn--transparent">СТВОРИТИ АКАУНТ</button>
  
  </main>

</div>
