
<header>
  <div class="logo">
    <p class="logo__line">Dress me</p>
    <p class="logo__line logo__line--last">now!</p>
  </div>
</header>

<main class="row">

  <p class="title col-12">увійти</p>

  <mat-form-field class="col-12" appearance="outline">
    <mat-label>Email*</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field class="col-12" appearance="outline">
    <mat-label>Password*</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <button class="sign-in-btn">ВХІД</button>

</main>

