
@import 'mixins';
@import 'colors';

mat-form-field {
  width: 100%;
}

.user-modal-container {
  position: relative;
  max-width: 400px;
}

.logo {
  width: 120px;
  margin: 0 auto;
  @include e('img') {
    width: 100%;
  }
}

.user-modal-close {
  @include close-btn;
  top: -30px; right: -20px;
  font-size: 20px;
  color: $main-orange;
}

.title {
  text-transform: uppercase;
}

.question {
  display: block;
  width: 100%;
}

.user-modal-input {
  width: 400px;
  margin: 0 auto;
}

.wide-btn {
  width: 400px; height: 50px;
  margin: 0 auto;
  border: 0;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
}
