
@import 'z-index';
@import 'mixins/_all';
@import 'colors';

.scroll-down {
  position: absolute; bottom: 40px; left: 40px;
  padding-top: 20px;
  border: 0;
  z-index: $scroll-btn;
  display: inline-block;
  color: $main-orange;
  opacity: 0;
  transition: .3s;
  cursor: default;
  @include e('icon') {
    position: absolute; top: 0; left: 50%;
    width: 30px; height: 50px;
    margin-left: -15px;
    border: 2px solid $main-orange;
    border-radius: 20px;
    box-sizing: border-box;
    &::before {
      position: absolute; top: 10px; left: 50%;
      width: 6px; height: 6px;
      margin-left: -3px;
      background-color: $main-orange;
      border-radius: 100%;
      animation: float 2s infinite;
      box-sizing: border-box;
      content: '';
    }
  }
  @include m('visible') {
    padding-top: 60px;
    opacity: .4;
    cursor: pointer;
    &:hover { opacity: 1; }
  }
}

@keyframes float {
  0% { transform: translate(0, 0); opacity: 0; }
  40% { opacity: 1; }
  80% { transform: translate(0, 20px); opacity: 0; }
  100% { opacity: 0; }
}
