
<section class="wrapper">

  <div class="slider row no-gutters" #slider>

    <a class="slide col-6 col-sm-4 col-lg-3"
      *ngFor="let slide of slides; let idx = index;"
      [href]="slide.href"
      [ngClass]="{
        'order-0': slide.visual_order === 0,
        'order-1': slide.visual_order === 1,
        'order-2': slide.visual_order === 2,
        'order-3': slide.visual_order === 3,
        'order-4': slide.visual_order === 4,
        'order-5': slide.visual_order === 5,
        'slide--not-active': slide.visual_order === null
      }">
        <figure class="slide__img-container">
          <img class="slide__img" [src]="slide.img" [alt]="slide.title">
          <!-- <figcaption class="slide__title">{{ slide.title }}</figcaption> -->
        </figure>
    </a>

  </div>

  <a *ngIf="slides.length > 3"
    class="slider-ctrl slider-ctrl--left"
    appDelayClick="0.2"
    (delayClick)="onCtrlClick(false)">
      <i class="fa fa-angle-left"></i>
  </a>

  <a *ngIf="slides.length > 3"
    class="slider-ctrl slider-ctrl--right"
    appDelayClick="0.2"
    (delayClick)="onCtrlClick(true)">
      <i class="fa fa-angle-right"></i>
  </a>

</section>
