
<section class="wrapper" style="border: 1px solid red">

  <div class="slider row no-gutters" #slider>

    <figure
      #singleSlide
      class="slide slide--is-active col-6 col-sm-4 col-lg-3"
      style="border: 1px solid green">
        <!-- <img class="slide__img" [src]="slides[lastIdx].src" alt="first item"> -->
        <figcaption>{{ slides[firstIdx].title }}</figcaption>
    </figure>

    <figure
      class="slide slide--is-active col-6 col-sm-4 col-lg-3"
      style="border: 1px solid green"
      *ngFor="let activeIdx of (activeIdxs || [])">
        <!-- <img class="slide__img" [src]="slide.src" alt="first item"> -->
        <figcaption>{{ slides[activeIdx].title }}</figcaption>
    </figure>

  </div>

  <div class="ctrsl">
    <button (click)="onPrev()">prev</button>
    <button (click)="onNext()">next</button>
  </div>

</section>
        