
@import 'mixins';

.wrapper {
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  &:hover {
    .slider-ctrl { background-color: rgba(0, 0, 0, 0.8); }
  }
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.slide {
  height: 100%;
  transform: translateX(-100%);
  display: flex;
  position: relative;
  @include m('not-active') {
    display: none;
  }
  @include e('img-container') {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  @include e('img') {
    height: 100%;
    width: auto;
    max-width: 100%;
  }
  @include e('title') {
    width: 100%;
    position: absolute; bottom: 0;
    background-color: #fff;
  }
}

.transition-on { transition: all .3s; }

.slider-ctrl {
  @include m('left') { left: 10px; }
  @include m('right') { right: 10px; }
}
