
<section class="wrapper" style="border: 1px solid red">

  <div class="slider row no-gutters" #slider>

    <a href="#" class="slide slide--is-active col-6 col-sm-4 col-lg-3">
      <figure class="slide__img-container" style="border: 1px solid green">
        <img class="slide__img" [src]="slides[firstIdx].src" alt="first item">
        <figcaption class="slide__title">{{ slides[firstIdx].title }}</figcaption>
      </figure>
    </a>

    <a href="#" class="slide slide--is-active col-6 col-sm-4 col-lg-3" *ngFor="let idx of activeIdxs">
      <figure class="slide__img-container" style="border: 1px solid green">
        <img class="slide__img" [src]="slides[idx].src" alt="item #{{ idx }}">
        <figcaption class="slide__title">{{ slides[idx].title }}</figcaption>
      </figure>
    </a>

  </div>

  <button class="ctrl ctrl--prev" (click)="onPrev(false)">prev</button>
  <button class="ctrl ctrl--next" (click)="onNext(true)">next</button>

</section>
        