
@import 'mixins';

.wrapper {
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.slide {
  height: 100%;
  transform: translateX(-100%);
  display: flex;
  position: relative;
  @include m('not-active') {
    display: none;
  }
  @include e('img-container') {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  @include e('img') {
    width: 100%;
    height: auto;
  }
  @include e('title') {
    width: 100%;
    position: absolute; bottom: 0;
    background-color: #fff;
  }
}

.ctrl {
  position: absolute; bottom: 50%;
  transform: translateY(50%);
  @include m('prev') {
    left: 0;
  }
  @include m('next') {
    right: 0;
  }
}

.transition-on {
  transition: all .3s;
}
