
@import 'mixins';

.wrapper {
  width: 100%;
  min-height: 200px;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.slide {
  height: 100%;
  transform: translateX(-100%);
  display: none;
  @include m('is-active') {
    display: flex;
  }
  @include e('img') {
    width: 100%;
    height: auto;
  }
}

.ctrsl {
  position: absolute; bottom: 0; left: 50%;
}

.transition-on {
  transition: all .3s;
}
