
<div class="info-block">

  <header>
    <a class="info-block__header width-100 d-block font-weight-bold" href="#">ЗАМОВЛЕННЯ</a>
  </header>

  <div class="info-block__main">
    <p *ngIf="!orders.length" class="no-data">Поки що немає замовлень!</p>
  </div>

  <ul class="info-list d-flex row">
    <ng-container *ngFor="let orderItem of orders; let idx = index;">
      <li *ngIf="idx < 6" class="info-list__item col-6 col-sm-3">
        <a [href]="orderItem.href">
          <figure>
            <img class="info-list__image" [src]="orderItem.src" alt="wish #{{ idx }}">
            <figcaption *ngIf="orderItem.title" class="font-14 text-center">{{ orderItem.title }}</figcaption>
          </figure>
        </a>
      </li>
    </ng-container>
  </ul>

  <button
    mat-button
    [appBtnSpinner]="isLoading"
    appDelayClick (delayClick)="test()"
    (click)="test()"
    class="btn-submit--fluid">
      <span *ngIf="orders.length">ПЕРЕГЛЯНУТИ ЗАМОВЛЕННЯ</span>
      <span *ngIf="!orders.length">ДО КАТАЛОГУ</span>
  </button>

</div>
