
@import 'colors';
@import 'mixins';
@import 'elements/social';

:host {
  padding: 45px 45px 0;
  border-top: 2px solid $main-orange;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header-text {
  font-size: 14px;
  letter-spacing: 2px;
  color: #000;
}

.email {
  margin: 20px 0;
  @include e('error') {
    position: relative;
    bottom: 15px;
    font-size: 10px;
    line-height: 12px;
    color: $main-orange;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3;
    @include m('show') {
      opacity: 1;
    }
  }
  @include e('privacy-note') {
    position: relative;
    bottom: 10px;
    font-size: 10px;
    text-align: center;
    color: #adafb2;
    opacity: 0;
    @include m('show') {
      opacity: 1;
    }
  }
}

.social {
  @include social;
  @include e('link') {
    color: $main-grey;
  }
}

.footer-text {
  font-size: 10px;
  color: #adafb2;
}

.policy {
  font-size: 10px;
  color: #adafb2;
  text-decoration: underline;
}

.menu {
  font-size: 12px;
  font-weight: bold;
}


