
<header class="d-flex justify-content-center">
  <h5 class="header-text">Дізнатись першим</h5>
</header>

<main class="container">
  
  <div class="email row d-flex align-items-center flex-column">
    <mat-form-field class="col-5">
      <input matInput placeholder="Email" email required [(ngModel)]="email" #emailCtrl="ngModel" (focus)="emailCtrl.focused=true" (blur)="emailCtrl.focused=false">
    </mat-form-field>
    <mat-error class="email__error col-5" [ngClass]="{'email__error--show': emailCtrl.dirty && emailCtrl.touched && emailCtrl.hasError('email')}">
      Необхідно ввести коректну адресу електронної пошти, наприклад: <strong>name@mail.com</strong>
    </mat-error>
    <p class="email__privacy-note col-5" [ngClass]="{'email__privacy-note--show': emailCtrl.focused}">
      Ви приймаєте політику
      <ng-container *ngTemplateOutlet="privacy"></ng-container>
    </p>
  </div>
  
  <ul class="menu row d-flex justify-content-center">
    <li class="col-2">
      <a href="#">Допомога</a>
    </li>
    <li class="col-2">
      <a href="#">Зв'язатись</a>
    </li>
    <li class="col-2">
      <a href="#">Регістрація</a>
    </li>
    <li class="col-2">
      <a href="#">Компанія</a>
    </li>
    <li class="col-2">
      <a href="#">Про нас пишуть</a>
    </li>
  </ul>

  <ul class="social row d-flex justify-content-center">
    <li>
      <a href="#" class="social__link fa fa-facebook"></a>
    </li>
    <li>
      <a href="#" class="social__link fa fa-youtube"></a>
    </li>
    <li>
      <a href="#" class="social__link fa fa-twitter"></a>
    </li>
    <li>
      <a href="#" class="social__link fa fa-vk"></a>
    </li>
  </ul>

</main>

<footer class="d-flex justify-content-center">
  <p class="footer-text">
    &copy; 2019 DressMeNow Всі права захищені
    <ng-container *ngTemplateOutlet="privacy"></ng-container>
  </p>
</footer>

<ng-template #privacy>
  <a class="policy" href="#">Приватності</a>
</ng-template>
