
<section class="wrapper container-fluid">

  <div class="row no-gutters">

    <div class="main-info col-sm-12 col-md-8 order-md-2" style="border: 1px solid grey">

      <div class="info-block" style="border: 1px solid green">

        <header>
          <a class="info-block__header" href="#">ЗАМОВЛЕННЯ</a>
        </header>

        <div class="info-block__main">
          <p class="no-data">Поки що немає замовлень!</p>
        </div>

        <button
          mat-button
          [appBtnSpinner]="isLoading"
          appDelayClick (delayClick)="test()"
          (click)="test()"
          class="ctrl-btn ctrl-btn--submit">ДО ПОКУПОК</button>

      </div>

      <div class="recently-viewed">

        <header>
          <h5 class="recently-viewed__header">ПЕРЕГЛЯНУТІ ТОВАРИ І БІЛЬШЕ</h5>
        </header>

        <app-carousel-simple></app-carousel-simple>

      </div>

      <div class="info-block" style="border: 1px solid green">

        <header>
          <a class="info-block__header" href="#">ПЕРСОНАЛЬНА ІНФОРМАЦІЯ</a>
        </header>

        <div class="info-block__main info-block__main row no-gutters">
          
          <div class="inner-block col-sm-12 col-lg-4 pb-sm-3 pb-lg-0">
            <p class="inner-block__header">ІМ'Я</p>
            <p>Huan Samoran4ez</p>
          </div>

          <div class="inner-block col-sm-12 col-lg-4 pb-sm-3 pb-lg-0">
            <p class="inner-block__header">ТЕЛЕФОН</p>
            <p>+380982738463</p>
          </div>

          <div class="inner-block col-sm-12 col-lg-4 pb-sm-3 pb-lg-0">
            <p class="inner-block__header">ЕЛЕКТРОННА АДРЕСА</p>
            <p>samoran4ez@gmail.com</p>
          </div>

        </div>

        <button
          mat-button
          [appBtnSpinner]="isLoading"
          appDelayClick (delayClick)="test()"
          (click)="test()"
          class="ctrl-btn ctrl-btn--submit">РЕДАГУВАТИ</button>

      </div>

      <div class="info-block" style="border: 1px solid green">

        <header>
          <a class="info-block__header" href="#">РАХУНОК</a>
        </header>

        <div class="info-block__main info-block__main row no-gutters">
          
          <div class="inner-block col-sm-12">
            <p class="inner-block__header inner-block__header--text-center">ПОТОЧНИЙ БАЛАНС</p>
            <p class="inner-block__header inner-block__header--text-center">0.00$</p>
          </div>

        </div>

        <button
          mat-button
          [appBtnSpinner]="isLoading"
          appDelayClick (delayClick)="test()"
          (click)="test()"
          class="ctrl-btn ctrl-btn--submit">ПОПОВНИТИ</button>

      </div>

      <div class="info-block" style="border: 1px solid green">

        <header>
          <a class="info-block__header" href="#">ПОКУПКИ</a>
        </header>

        <div class="info-block__main row no-gutters">
          <p class="no-data">Товари, що ви придбали будуть доступні тут для перегляду</p>
        </div>

      </div>

      <div class="info-block" style="border: 1px solid green">

        <header>
          <a class="info-block__header" href="#">УПОДОБАННЯ</a>
        </header>

        <div class="info-block__main row no-gutters">
          <p class="no-data">Тут можна буде переглянути товари, які були відзначені вами</p>
        </div>

      </div>

      <div class="info-block" style="border: 1px solid green">

        <header>
          <a class="info-block__header" href="#">ОБРАНЕ</a>
        </header>

        <div class="info-block__main row no-gutters">
          <p class="no-data">Уподобали щось? Тисніть 'Додати до уподобань' щоб створити новий список! Створюйте скільки завгодно списків, заповнюйте їх товарами та діліться з друзями!</p>
        </div>

        <button
          mat-button
          [appBtnSpinner]="isLoading"
          appDelayClick (delayClick)="test()"
          (click)="test()"
          class="ctrl-btn ctrl-btn--submit">ПЕРЕГЛЯНУТИ ОБРАНЕ</button>

      </div>

    </div>

    <nav class="col-sm-12 col-md-4 order-md-1">
      <ul class="menu">
        <li class="menu-item menu-item--first">
          <a href="" class="hover-opacity">ОГЛЯД АКАУНТУ</a>
        </li>
        <li class="menu-item">
          <a href="" class="hover-opacity">ЗАМОВЛЕННЯ</a>
        </li>
        <li class="menu-item">
          <a href="" class="hover-opacity">ПОКУПКИ</a>
        </li>
        <li class="menu-item">
          <a href="" class="hover-opacity">УПОДОБАННЯ</a>
        </li>
        <li class="menu-item">
          <a href="" class="hover-opacity">ОБРАНЕ</a>
        </li>
        <li class="menu-item">
          <a href="#" class="hover-opacity">РАХУНОК</a>
        </li>
        <li class="menu-item">
          <a href="#" class="hover-opacity">ПРОФІЛЬ</a>
          <ul>
            <li class="menu-item--small hover-opacity">
              <a href="#">Дані користувача</a>
            </li>
            <li class="menu-item--small hover-opacity">
              <a href="#">Розміри</a>
            </li>
            <li class="menu-item--small hover-opacity">
              <a href="#">Змінити пароль</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>

</section>
