
<section class="row no-gutters">

  <div class="main-info col-sm-12 col-md-8 order-md-2">

    <app-my-account-info-block
      [items]="ordersBlockData.items"
      [mainTitle]="ordersBlockData.mainTitle"
      [noItemsTitle]="ordersBlockData.noItemsTitle"
      [btnTitle]="ordersBlockData.btnTitle"
    ></app-my-account-info-block>
    
    <app-my-account-recently-viewed></app-my-account-recently-viewed>

    <app-my-account-personal-info></app-my-account-personal-info>

    <app-my-account-balance></app-my-account-balance>

    <app-my-account-info-block
      [items]="purchasesBlockData.items"
      [mainTitle]="purchasesBlockData.mainTitle"
      [noItemsTitle]="purchasesBlockData.noItemsTitle"
      [btnTitle]="purchasesBlockData.btnTitle"
    ></app-my-account-info-block>

    <app-my-account-info-block
      [items]="lovesBlockData.items"
      [mainTitle]="lovesBlockData.mainTitle"
      [noItemsTitle]="lovesBlockData.noItemsTitle"
      [btnTitle]="lovesBlockData.btnTitle"
    ></app-my-account-info-block>

    <div class="info-block p-0">

      <header>
        <a class="info-block__header width-100 d-block font-weight-bold" href="#">ОБРАНЕ</a>
      </header>

      <ul class="info-list d-flex row">
        <ng-container *ngFor="let wish of wishes; let idx = index;">
          <li *ngIf="idx < 6" class="info-list__item col-6 col-sm-3">
            <a [href]="wish.href">
              <figure>
                <img class="info-list__image" [src]="wish.src" alt="Wish #{{ idx }}">
                <figcaption *ngIf="wish.title" class="info-list__title">{{ wish.title }}</figcaption>
              </figure>
            </a>
          </li>
        </ng-container>
        <li class="info-list__item width-100 d-flex-and-center flex-column col-sm-3">
          <a class="font-12 hover-black text-center" href="#">СТВОРИТИ НОВИЙ СПИСОК</a>
        </li>
      </ul>

      <div *ngIf="!wishes.length" class="info-block__main row no-gutters">
        <p class="no-data">Уподобали щось? Тисніть 'Додати до уподобань' щоб створити новий список! Створюйте скільки завгодно списків, заповнюйте їх товарами та діліться з друзями!</p>
      </div>

      <button
        mat-button
        *ngIf="wishes.length"
        [appBtnSpinner]="isLoading"
        appDelayClick (delayClick)="test()"
        (click)="test()"
        class="btn-submit--fluid"
      >ПЕРЕГЛЯНУТИ ОБРАНЕ</button>

    </div>

  </div>

  <nav class="col-sm-12 col-md-4 order-md-1">

    <ul class="menu height-100">
      <li
        *ngFor="let navMenuItem of navMenuItems; let first = first; let last = last;"
        [ngClass]="{ 'p-0': first }"
        class="menu-item font-14 d-flex justify-content-center justify-content-md-start">
          <div>
            <a href="{{ navMenuItem.href }}" class="hover-opacity width-100 d-flex justify-content-center justify-content-md-start">{{ navMenuItem.uiName }}</a>
            <ul *ngIf="navMenuItem.subMenuItems">
              <li *ngFor="let navSubMenuItem of navMenuItem.subMenuItems" class="sub-menu-item font-12 hover-opacity d-flex justify-content-center justify-content-md-start">
                <a href="navSubMenuItem.href">{{ navSubMenuItem.uiName }}</a>
              </li>
            </ul>
          </div>
      </li>
    </ul>

  </nav>

</section>
