
<div class="wrapper container-fluid">

  <div class="row">

    <ul class="menu col-sm-12 col-md-4" style="border: 1px solid green;">
      <li class="menu__item">Account overview</li>
      <li class="menu__item">Orders</li>
      <li class="menu__item">Reviews</li>
      <li class="menu__item">Loves</li>
      <li class="menu__item">Wishlists</li>
      <li class="menu__item">Online credit</li>
      <li class="menu__item">Profile</li>
    </ul>

    <div class="main-info col-sm-12 col-md-8" style="border: 1px solid red;">

    </div>

  </div>

</div>
