
@import 'colors';
@import 'mixins/_all';

.menu {
  padding: 60px;
  border-right: 1px solid $main-orange;
  background-color: $grey-1;
}

.menu-item {
  padding-top: 30px;
}

.sub-menu-item {
  padding: 2px 0;
}

.main-info {
  padding: 60px 20px;
  background-color: #fff;
}

.info-block {
  padding-bottom: 40px;
  @include e('header') {
    padding-bottom: 5px;
    border-bottom: 2px solid $main-orange;
    letter-spacing: 1px;
  }
  @include e('main') {
    padding: 30px;
    background-color: $grey-2;
  }
}

.recently-viewed {
  padding-bottom: 40px;
  @include e('header') {
    padding: 5px 0;
    border-bottom: 1px solid $main-orange;
    letter-spacing: 0.5px;
  }
}

.no-data {
  letter-spacing: 0.5px;
}

.info-list {
  padding: 10px 0;
  @include e('image') {
    height: auto;
    width: 100%;
  }
}
