
<div #slider class="slider">

  <!-- (mousedown)="dragStart($event)"
  (touchstart)="dragStart()"
  (touchend)="dragEnd()"
  (touchmove)="dragAction($event)" -->

  <ul
      #sliderItems
      class="items"
      (transitionend)="checkIndex()">

    <li class="slide" *ngFor="let product of products">
      <a>
        <img src="{{ product.src }}" class="img-fluid img-thumbnail">
      </a>
    </li>

  </ul>

  <a class="control control__prev fa fa-chevron-left" (click)="shiftSlide(-1)"></a>
  <a class="control control__next fa fa-chevron-right" (click)="shiftSlide(1)"></a>

</div>
