
<div class="slider-wrapper">

  <ul #sliderItems class="items">

    <li class="slide"  *ngFor="let product of products">
      <a class="card-link" [id]="product.number">
        <img class="card-link__img" src="https://cdn-eu-ec.yottaa.net/5a8c2777312e587e9dba4f45/www.melanielyne.com/v~4b.1d/dw/image/v2/BBFF_PRD/on/demandware.static/-/Sites-melanie-lyne-master/default/dwe2563f00/images/hi-res/6030103-1670-490_1.jpg?sw=350&yocs=D_&yoloc=eu">
        <span class="card-link__text">{{ product.number }}</span>
      </a>
    </li>

  </ul>

  <div #ctrlContainer>
    <a class="control control__prev fa fa-chevron-left" id="-1"></a>
    <a class="control control__next fa fa-chevron-right" id="1"></a>
  </div>

</div>
