
@import '~bootstrap-4-grid/scss/grid.scss';
@import 'colors';
@import 'mixins';
@import 'z-index';

.slider {
  width: 100%; height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.items {
  width: 2000vw; height: 100%;
  position: relative; top: 0; left: -20vw;
  display: flex;
  justify-content: left;
  @include e('shifting') {
    transition: left .2s ease-out;
  }
}

.slide {
  width: 20vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: #FFCF47;
  cursor: pointer;
}

.slider.loaded .slide:nth-child(2),
.slider.loaded .slide:nth-child(7) {
  background: #FFCF47;
}
.slider.loaded .slide:nth-child(1),
.slider.loaded .slide:nth-child(6) {
  background: #7ADCEF;
}
.slider.loaded .slide:nth-child(3) {
  background: #F97C68;
}
.slider.loaded .slide:nth-child(4) {
  background: #a78df5;
}
.slider.loaded .slide:nth-child(5) {
  background: #ff8686;
}

.control {
  position: absolute; top: 50%;
  z-index: $slider-ctrls;
  transition: .3s;
  color: red;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  @include e('prev') {
    left: 10px;
  }
  @include e('next') {
    right: 10px;
  }
}
