
@import '~bootstrap-4-grid/scss/grid.scss';
@import 'colors';
@import 'mixins';
@import 'z-index';

.slider-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.items {
  width: 20000vw; height: 100%;
  position: relative; top: 0; left: 0;
  display: flex;
  justify-content: left;
  @include e('shifting') {
    transition: left .3s ease-out;
  }
}

.slide {
  width: 100vw;
  padding: 10px 10px 0 0;
  background: #FFCF47;
  transition: width .3s ease-out;
  @include breakpoint-up('xs') {
    width: 50vw;
  }
  @include breakpoint-up('sm') {
    width: 33.333333333333336vw;
  }
  @include breakpoint-up('md') {
    width: 25vw;
  }
  @include breakpoint-up('lg') {
    width: 20vw;
  }
  @include e('text') {
    text-align: center;
  }
}

.card-link {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  @include e('img') {
    width: 100%;
    height: auto;
    display: flex;
  }
  @include e('text') {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.control {
  position: absolute; top: calc(50% - 16px);
  z-index: $slider-ctrls;
  transition: .3s;
  color: red;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  @include e('prev') {
    left: 10px;
  }
  @include e('next') {
    right: 10px;
  }
}
