
@import 'colors';
@import 'mixins/_all';

:host {
  padding: 45px 15px 0;
  border-top: 2px solid $main-orange;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  position: relative;
  &:before {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    font-size: 16px;
    color: $grey-2;
    font-family: 'Fontello';
    content: '\e803';
  }
}

.header-text {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
}

.email {
  margin: 10px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include e('error') {
    position: relative;
    bottom: 15px;
    font-size: 10px;
    line-height: 12px;
    color: $main-orange;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3;
    @include m('show') {
      opacity: 1;
    }
    @include m('example') {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
  @include e('privacy-note') {
    position: relative;
    bottom: 10px;
    font-size: 10px;
    text-align: center;
    color: $grey-3;;
    opacity: 0;
    @include m('show') {
      opacity: 1;
    }
  }
}

.social-bar {
  margin: 35px 0;
  @include e('link') {
    color: $grey-4;
  }
}

.footer-text {
  padding: 5px;
  font-size: 10px;
  color: $grey-3;;
  text-align: center;
}

.policy {
  font-size: 10px;
  color: $grey-3;;
  padding: 1px;
  &:hover {
    border-bottom: 1px solid $grey-3;;
  }
}

.menu {
  display: flex;
  justify-content: center;
  @include e('link') {
    padding: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    font-weight: bolder;
    color: #000;
    transition: 0.3s;
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

.language-bar {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  @include e('link') {
    font-size: 10px;
    color: $grey-3;;
    padding: 1px 5px;
    border-right: 1px solid $grey-3;;
    &:hover {
      color: $main-orange;
      font-weight: bolder;
    }
    @include m('last') {
      border-right: 0;
    }
  }
  @include e('icon') {
    font-size: 16px;
    color: $grey-4;
  }
}
