
<section class="container bg-white d-flex flex-column">

  <header i18n="@@footerTitle" class="d-flex justify-content-center">
    <h5 class="header-text">Дізнатись першим</h5>
  </header>
  
  <div i18n="@@footerEmaiInput" class="email row no-gutters">
    <mat-form-field class="col-6 col-sm-4 col-lg-3">
      <input
        matInput
        type="email" email
        ngModel #emailCtrl="ngModel"
        (focus)="emailCtrl.focused=true"
        (blur)="emailCtrl.focused=false"
        placeholder="Email">
    </mat-form-field>
    <mat-error class="email__error col-6 col-sm-4 col-lg-3" [ngClass]="{'email__error--show': emailCtrl.dirty && emailCtrl.touched && emailCtrl.hasError('email')}">
      Необхідно ввести коректну адресу електронної пошти, наприклад: <span class="email__error--example">name@mail.com</span>
    </mat-error>
    <p class="email__privacy-note col-6 col-sm-4 col-lg-3" [ngClass]="{'email__privacy-note--show': emailCtrl.focused}">
      Ви приймаєте
      <a class="policy" href="#">Політику конфіденційності</a>
    </p>
  </div>
  
  <ul i18n="@@footerMenu" class="menu row">
    <li class="d-flex col-12 col-md-2 justify-content-center">
      <a href="#" class="menu__link">Допомога</a>
    </li>
    <li class="d-flex col-12 col-md-2 justify-content-center">
      <a href="#" class="menu__link">Зв'язатись</a>
    </li>
    <li class="d-flex col-12 col-md-2 justify-content-center">
      <a href="#" class="menu__link">Регістрація</a>
    </li>
    <li class="d-flex col-12 col-md-2 justify-content-center">
      <a href="#" class="menu__link">Компанія</a>
    </li>
    <li class="d-flex col-12 col-md-2 justify-content-center">
      <a href="#" class="menu__link">Про нас пишуть</a>
    </li>
  </ul>

  <ul class="social-bar social row d-flex justify-content-center">
    <li>
      <a href="#" class="social-bar__link fa fa-facebook"></a>
    </li>
    <li>
      <a href="#" class="social-bar__link fa fa-youtube"></a>
    </li>
    <li>
      <a href="#" class="social-bar__link fa fa-twitter"></a>
    </li>
    <li>
      <a href="#" class="social-bar__link fa fa-vk"></a>
    </li>
  </ul>

  <footer class="row d-flex justify-content-center position-relative">
    <p i18n="@@footerRights" class="footer-text col-4 col-lg-6">
      <span>&copy; 2019 DressMeNow Всі права захищені</span>
      <a class="policy" href="#">Політика конфіденційності</a>
    </p>
    <div class="language-bar" (click)="onLanguageClick($event.target.value)">
      <i class="language-bar__icon icon-globe d-none d-sm-block"></i>
      <a class="language-bar__link" href="#">UA</a>
      <a class="language-bar__link" href="#">RU</a>
      <a class="language-bar__link language-bar__link--last" href="#">EN</a>
    </div>
  </footer>

</section>
