
<section class="width-100 row no-gutters d-flex align-items-center justify-content-between" style="height: 60px; background-color: beige;">

  <a href="/" class="dressmenow-logo height-100 col-2" style="background-color: grey;">dressmenow</a>

  <ul>
    <li>
      <a></a>
    </li>
  </ul>

  <div class="height-100 position-relative overflow-hidden col-4">
    <mat-form-field class="position-absolute width-100">
      <input
        matInput
        type="text"
        placeholder="Email">
    </mat-form-field>
  </div>

  <ul class="height-50 col-2 d-flex">
    <li class="height-100 d-flex flex-grow-1 position-relative">
      <app-cart-button></app-cart-button>
      <!-- <a class="loves width-100 height-100 cursor-pointer bg-center-norepeat hover-opacity"></a> -->
    </li>
    <li class="height-100 d-flex flex-grow-1">
      <a class="user width-100 height-100 cursor-pointer bg-center-norepeat hover-opacity"></a>
    </li>
    <li class="height-100 d-flex flex-grow-1">
      <a class="cart width-100 height-100 cursor-pointer bg-center-norepeat hover-opacity"></a>
    </li>
  </ul>

</section>
