
@import 'mixins/_all';
@import 'colors';

.loves { background-image: url('assets/img/svg/main-heart.svg'); }
.user { background-image: url('assets/img/svg/user.svg'); }
.cart { background-image: url('assets/img/svg/main-bag.svg'); }
