
@import '~font-awesome/css/font-awesome.min.css';
@import '~bootstrap-4-grid/scss/grid.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'normalize';
@import 'colors';
@import 'z-index';
@import 'fonts';

body {
  font-family: 'Montserrat', sans-serif;
}

// Background video

video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: $bgvid;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('./assets/img/main-background.jpg') no-repeat;
  background-size: cover;
}

// Customizing angular material styles in components

div.cdk-overlay-pane {
  div.ng-trigger-transformPanel {
    mat-option.mat-option {
      span.mat-option-text {
        color: $main-grey;
      }
      &[aria-selected="true"] {
        span.mat-option-text {
          color: $main-orange;
        }
      }
    }
  }
}

app-header {
  mat-form-field.mat-form-field-appearance-legacy {
    width: 100%;
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-infix {
      padding: 0;
      border-top: 0;
      .mat-select-trigger {
        span, .mat-select-arrow {
          color: $main-grey;
          @include media-breakpoint-up(lg) {
            color: #fff;
          }
        }
      }
    }
    .mat-form-field-underline {
      display: none;
    }
  }
}
