
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~bootstrap-4-grid/scss/grid.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial;
}

a {
  text-decoration: none;
}

app-header {
    mat-form-field.mat-form-field-appearance-legacy {
        width: 100%;
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        .mat-form-field-infix {
            padding: 0;
            border-top: 0;
        }
        .mat-form-field-underline {
            display: none;
        }
    }
}
