
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~bootstrap-4-grid/scss/grid.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.7s;
}

a {
  text-decoration: none;
}
