
$main-orange: #e65540;
$main-orange-rgba-80: rgba(230,85,64,.8);
$main-orange-rgba-60: rgba(230,85,64,.6);
$main-orange-rgba-40: rgba(230,85,64,.4);

$main-yellow: #FFDC86;
$main-yellow-rgba-80: rgba(255,220,134,.8);
$main-yellow-rgba-60: rgba(255,220,134,.6);
$main-yellow-rgba-40: rgba(255,220,134,.4);

$grey-6: #222222;
$grey-5: #333;
$grey-4: #888;
$grey-3: #a9a9a9;
$grey-2: #ececec;
$grey-1: #f7f7f7;

$hover-black: rgba(0,0,0,.6);
