
@import './assets/fonts/fontello/css/fontello.css';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/montserrat/montserrat-v13-latin-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./assets/fonts/montserrat/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/montserrat/montserrat-v13-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/montserrat/montserrat-v13-latin-regular.woff') format('woff'),
       url('./assets/fonts/montserrat/montserrat-v13-latin-regular.ttf') format('truetype'),
       url('./assets/fonts/montserrat/montserrat-v13-latin-regular.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/homemade-apple/homemade-apple-v9-latin-regular.eot');
  src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'),
       url('./assets/fonts/homemade-apple/homemade-apple-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/homemade-apple/homemade-apple-v9-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/homemade-apple/homemade-apple-v9-latin-regular.woff') format('woff'),
       url('./assets/fonts/homemade-apple/homemade-apple-v9-latin-regular.ttf') format('truetype'),
       url('./assets/fonts/homemade-apple/homemade-apple-v9-latin-regular.svg#HomemadeApple') format('svg');
}

@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display SC Regurlar'), local('PlayfairDisplaySC-Regular'),
       url('./assets/fonts/playfair-display/playfair-display.ttf') format('truetype')
}

@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: local('Yesteryear Regurlar'), local('Yesteryear-Regular'),
       url('./assets/fonts/yesteryear/yesteryear-regular.ttf') format('truetype')
}
