
// BEM methodology

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($element) {
  &--#{$element} {
    @content;
  }
}

// custom breakpoints

$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

@mixin breakpoint-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{ $breakpoint }`. '
      + 'Available breakpoints are: #{ map-keys($breakpoints) }.';
  }
}

@mixin sm {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// general

@mixin logo-line {
  font-family: 'Homemade Apple';
  transform: rotate(-5deg);
  color: $main-orange;
}

@mixin logo-line-last {
  transform: rotate(-15deg);
  text-align: right;
}

@mixin logo-img {
  position: relative;
  width: 90px;
  @include e('img') {
    width: 100%;
  }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
