
@mixin logo-line {
  font-family: 'Homemade Apple';
  transform: rotate(-5deg);
  color: $main-orange;
}

@mixin logo-line-last {
  transform: rotate(-15deg);
  text-align: right;
}

@mixin social {
  li {
    display: inline-block;
  }
  a {
    padding: 10px;
    display: block;
    font-size: 16px;
    transition: color .3s;
    &:hover {
      color: $main-orange;
    }
  }
}

@mixin close-btn {
  position: absolute;
  opacity: 0.7;
  padding: 20px;
  cursor: pointer;
  &:before {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }
  &:hover {
    opacity: 1;
    &:before {
      background-color: rgba(0,0,0,.1);
    }
  }
}

// BEM methodology

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($element) {
  &--#{$element} {
    @content;
  }
}

// custom breakpoint

$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

@mixin breakpoint-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{ $breakpoint }`. '
      + 'Available breakpoints are: #{ map-keys($breakpoints) }.';
  }
}