
<section #carousel class="carousel-wrapper">

  <ul class="height-100 m-y-0 m-x-auto d-flex pos-relative">
    <li
      *ngFor="let product of products; let currIdx = index"
      class="item"
      [ngClass]=
        "{'item--active': currIdx === active,
          'item--next': currIdx === next,
          'item--prev': currIdx === prev }">
        <div *ngIf="product.starsRate && currIdx === active" class="pos-absolute right-0 p-y-20 p-x-20">
          <app-stars-set [rate]="product.starsRate"></app-stars-set>
        </div>
        <a class="pos-absolute left-0 p-y-20 p-x-20 d-flex">
          <i class="item__heart"></i>
        </a>
        <div *ngIf="product.colors && product.colors.length && currIdx === active" class="pos-absolute bottom-px-100 left-px-20 d-flex">
          <app-colors-set [colors]="product.colors"></app-colors-set>
        </div>
        <figure>
          <a (click)="goToProduct(product.id, currIdx === active)">
            <img class="item__image" src="{{ product.src }}" alt="{{ product.name }}">
            <figcaption class="item__text" [ngClass]="{ 'item__text--active': currIdx === active }">{{ product.name }} <span class="item__text--heart">&#10084;</span></figcaption>
          </a>
        </figure>
    </li>
  </ul>

  <button class="slider-ctrl slider-ctrl--left" (click)="gotoPrev()">
    <i class="fa fa-angle-left"></i>
  </button>
  <button class="slider-ctrl slider-ctrl--right" (click)="gotoNext()">
    <i class="fa fa-angle-right"></i>
  </button>

</section>
