
@import 'mixins';
@import 'z-index';
@import 'colors';

$btn-position-xs: 70px;
$btn-position-sm: 120px;
$btn-position-lg: 240px;

:host { z-index: $carousel-small; }

.carousel-wrapper {
  width: 100%; height: 350px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  @include breakpoint-up(md) {
    height: 400px;
  }
  @include breakpoint-up(md) {
    height: 600px;
  }
  @include breakpoint-up(lg) {
    height: 800px;
  }
  &:hover {
    .slider-ctrl { background-color: rgba(0, 0, 0, 0.8); }
  }
}

.items {
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  user-select: none;
  @include e('item') {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    border-radius: 100%;
    overflow: visible;
    transition: all .3s ease-in-out;
    z-index: -1;
    opacity: 0;
    @include m('active') {
      z-index: 3;
      opacity: 1;
      box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    }
    @include m('prev') {
      z-index: 2;
      opacity: 0.25;
      transform: translate(-125%, -50%);
    }
    @include m('next') {
      z-index: 2;
      opacity: 0.25;
      transform: translate(25%, -50%);
    }
    &:hover {
      .item-text {
        color: #fff;
        background-color: rgba(0,0,0,.7);
      }
    }
  }
}

.item-image {
  height: 100%;
  object-fit: cover;
}

.item-text {
  width: 100%;
  position: absolute; bottom: 0; left: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  background-color: rgba(0,0,0,.4);
  color: $grey-lighter;
  opacity: 0;
  transition: 1s;
  @include breakpoint-up(lg) {
    padding: 15px 0;
    font-size: 16px;
  }
  @include m('active') {
    opacity: 1;
  }
  @include m('heart') {
    color: $main-orange;
  }
}

.controls {
  position: absolute; top: 0; left: 50%;
  width: 1px; height: 100%;
  .slider-ctrl {
    z-index: 3;
    @include m('left') {
      right: $btn-position-xs;
      @include breakpoint-up(sm) { right: $btn-position-sm; }
      @include breakpoint-up(lg) { right: $btn-position-lg; }
    }
    @include m('right') {
      left: $btn-position-xs;
      @include breakpoint-up(sm) { left: $btn-position-sm; }
      @include breakpoint-up(lg) { left: $btn-position-lg; }
    }
  }
}
