
@import 'mixins/_all';
@import 'z-index';
@import 'colors';

:host {
  height: 100%;
  z-index: $carousel-small;
}

.bottom-px-100 { bottom: 100px; }

.left-px-20 { left: 20px; }

.carousel-wrapper {
  width: 100%; height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  &:hover { .slider-ctrl { background-color: rgba(0, 0, 0, 0.8); } }
}

.item {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  border-radius: 100%;
  overflow: visible;
  transition: all .3s ease-in-out;
  z-index: -1;
  opacity: 0;
  &:hover {
    .item-text {
      color: #fff;
      background-color: rgba(0,0,0,.7);
    }
  }
  @include m('active') {
    z-index: 3;
    opacity: 1;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }
  @include m('prev') {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  @include m('next') {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  @include e('image') {
    width: auto; height: 100%;
    object-fit: cover;
  }
  @include e('text') {
    width: 100%;
    position: absolute; bottom: 0; left: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0,0,0,.4);
    color: $grey-2;
    opacity: 0;
    transition: 1s;
    @include m('active') { opacity: 1; }
    @include m('heart') { color: $main-orange; }
  }
  @include e('heart') {
    height: 30px; width: 30px;
    background-image: url('/assets/img/svg/heart.svg');
  }
}

.slider-ctrl {
  border: 0;
  z-index: 3;
  @include m('left') { left: 2%; }
  @include m('right') { right: 2%; }
}
